body{
    text-align: center; 
    margin:0 0 15 0;
    background-color:rgb(25, 228, 25);
}
img{
    height:350px;
    width: 400px;
}
article{
    display:flex;
}
article img{
    margin:10px 20px 0px 0px;
}
h6{
    font-size: 30px;
    text-align: center;
    margin: 0px;
    color: white;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    padding:0;
    
}
header{
    background-color: black;
}
nav a {
    text-decoration: nome;
    color: black;
}
nav li{
    background-color: yellow;
    padding: 15px 25px;
    border-radius: 15px;
}
nav li : houver {
    background-color: green;
    color: aquamarine;
    font-size: 150%;
}
li{
    background-color: white;
    font-size:18px ;
    height:18px;
}

p{
    text-align: center;
    font-size:18px;

}  

h1{
   
    
        color:black;
        font-size: 28px;
        padding: 10px;
        margin: 50px 50px 0px 0px;
       
}
h2{
    
        color:black;
        font-size: 28px;
        padding: 10px;
        margin: 50px 50px 0px 0px;
    
}
h7{
    font-size: 38px;
    color: black;
}
h8{
    text-align: center;
    font-size: 19px;
}

nav li:hover{
    background-color:green;
    color:white;
    font-size:18px;
     }
